[submodule "rustables"]
	path = rustables
	url = https://github.com/planetoryd/rustables
	branch = netnsp
[submodule "tidy-tuntap"]
	path = tidy-tuntap
	url = https://github.com/planetoryd/tidy-tuntap
	branch = main
[submodule "rtnetlink"]
	path = rtnetlink
	url = https://github.com/planetoryd/rtnetlink
[submodule "netlink-packet-audit"]
	path = netlink-packet-audit
	url = https://github.com/planetoryd/netlink-packet-audit
[submodule "netlink-sys"]
	path = netlink-sys
	url = https://github.com/planetoryd/netlink-sys
[submodule "netlink-proto"]
	path = netlink-proto
	url = https://github.com/planetoryd/netlink-proto
[submodule "netns-proxy-rs"]
	path = netns-proxy-rs
	url = https://github.com/planetoryd/netns-proxy
[submodule "serde-error"]
	path = serde-error
	url = https://github.com/Ekleog/serde-error
[submodule "tun2proxy"]
	path = tun2proxy
	url = https://github.com/planetoryd/tun2proxy
[submodule "fixed-map"]
	path = fixed-map
	url = https://github.com/planetoryd/fixed-map
[submodule "maybe-async-rs"]
	path = maybe-async-rs
	url = https://github.com/planetoryd/maybe-async-rs
[submodule "rumpsteak"]
	path = rumpsteak
	url = https://github.com/planetoryd/rumpsteak
[submodule "netlink-ops"]
	path = netlink-ops
	url = https://github.com/planetoryd/netlink-ops
[submodule "async-recursion"]
	path = async-recursion
	url = https://github.com/planetoryd/async-recursion
[submodule "tokio-send-fd"]
	path = tokio-send-fd
	url = https://github.com/planetoryd/tokio-send-fd
[submodule "pidfd"]
	path = pidfd
	url = https://github.com/planetoryd/pidfd