[workspace]
resolver = "2"
members = [
    "netlink-sys",
    "netlink-proto",
    "netns-proxy-rs",
    "rustables",
    "netlink-packet-audit",
    "rtnetlink"
]

[profile.release]
strip = true
opt-level = "z" # bottleneck is size, not cpu
lto = true
